<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>禅道报表</title>

    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{layui/css/layui.css}" media="all">
</head>

<body>
<div class="layui-container" style="width: 100%">
    <ul class="layui-nav layui-bg-blue">
        <li class="layui-nav-item"><a href="/report/worksummary">员工业绩统计分析</a></li>
        <li class="layui-nav-item"><a href="/report/worksumsort">员工业绩合计排名分析</a></li>
        <li class="layui-nav-item"><a href="/report/workload">员工任务负载统计分析</a></li>
    </ul>

    <div class="layui-fluid">
        <div class="layui-form" style="text-align: center">
            <div class="layui-row" style="margin: 10px">
                <div class="layui-form-item">
                    <!--开始日期-->
                    <div class="layui-inline">
                        <label class="layui-form-label">起止日期</label>
                        <div class="layui-input-inline">
                            <input type="text" name="start_date" id="start" lay-verify="date" placeholder="请选择开始时间"
                                   autocomplete="off" class="layui-input">
                        </div>

                        <div class="layui-form-mid">~</div>

                        <div class="layui-input-inline">
                            <input type="text" name="end_date" id="end" lay-verify="date" placeholder="请选择结束时间"
                                   autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <!--提交按钮-->
                    <div class="layui-inline">
                        <button class="layui-btn" id="search" data-type="reload">
                            <i class="layui-icon layui-icon-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <hr class="layui-bg-red">

        <div class="layui-row">
            <div class="layui-table-body">
                <table class="layui-table" id="work_sum" lay-filter="work_sum_filter"></table>
            </div>
        </div>

    </div>
</div>

<script th:src="@{layui/layui.js}"></script>

<script type="text/javascript" th:inline="javascript">
    layui.use(['table', 'laydate'], function () {
        var $ = layui.$;

        var table = layui.table,
            laydate = layui.laydate;

        var firstDate = new Date();
        firstDate.setDate(1); //第一天

        var endDate = new Date(firstDate);
        endDate.setMonth(firstDate.getMonth() + 1);
        endDate.setDate(0);

        laydate.render({
            elem: '#start',
            format: 'yyyy/MM/dd',
            type: 'date',
            value: new Date(firstDate)
        });
        laydate.render({
            elem: '#end',
            format: 'yyyy/MM/dd',
            type: 'date',
            value: new Date(endDate)
        });

        let fields = [
            [
                {field: 'sortNum', title: '排名', align: 'center'},
                {field: 'finishedBy', title: '姓名', align: 'center'},
                {field: 'taskType', title: '任务类型', align: 'center'},
                {field: 'taskConsumedSum', title: '任务总耗时', align: 'center'},
                {field: 'taskEstimateSum', title: '任务评估工时', align: 'center'},
                {field: 'consumedSum', title: '总耗时', align: 'center'},
                {field: 'estimateSum', title: '总评估工时', align: 'center'}
            ]
        ];

        //方法级渲染
        table.render({
            elem: '#work_sum',
            url: '/report/work_sum.json',
            parseData: function (res) { //res 即为原始返回的数据
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "data": res.data //解析数据列表
                };
            },
            response: {
                statusName: 'code', //规定数据状态的字段名称，默认：code
                statusCode: 200, //规定成功的状态码，默认：0
                msgName: 'msg', //规定状态信息的字段名称，默认：msg
            },
            contentType: 'application/json;charset=UTF-8',
            cols: fields,
            page: false,
            id: 'work_sum',
            method: 'post',
            where: {
                startDate: new Date(firstDate),
                endDate: new Date(endDate)
            },
            done: function (res, curr, count) {
                layuiRowspan(['sortNum', 'finishedBy','taskType','consumedSum','estimateSum'], 1);//支持数组

                var headertop = $(".layui-table-header").offset().top //获取表头到文档顶部的距离
                $(window).scroll(function () {//开始监听滚动条
                    if (headertop - $(window).scrollTop() < 0) {    //超过了
                        $(".layui-table-header").addClass('table-header-fixed')//添加样式，固定住表头
                    } else {//没超过
                        $(".layui-table-header").removeClass('table-header-fixed')//移除样式
                    }
                });
            }
        });

        let active = {
            reload: function (startDate, endDate) {
                table.reload('work_sum', {
                    url: '/report/work_sum.json',
                    contentType: 'application/json;charset=UTF-8',
                    method: 'post',
                    where: {
                        startDate: startDate,
                        endDate: endDate
                    },
                    // toolbar: true,
                    parseData: function (res) { //res 即为原始返回的数据
                        return {
                            "code": res.code, //解析接口状态
                            "msg": res.msg, //解析提示文本
                            "data": res.data //解析数据列表
                        };
                    },
                    response: {
                        statusName: 'code', //规定数据状态的字段名称，默认：code
                        statusCode: 200, //规定成功的状态码，默认：0
                        msgName: 'msg', //规定状态信息的字段名称，默认：msg
                    },
                    page: false,
                    cols: fields,
                    done: function (res, curr, count) {
                        layuiRowspan(['sortNum', 'finishedBy','taskType','consumedSum','estimateSum'], 1);//支持数组

                        var headertop = $(".layui-table-header").offset().top //获取表头到文档顶部的距离
                        $(window).scroll(function () {//开始监听滚动条
                            if (headertop - $(window).scrollTop() < 0) {    //超过了
                                $(".layui-table-header").addClass('table-header-fixed')//添加样式，固定住表头
                            } else {//没超过
                                $(".layui-table-header").removeClass('table-header-fixed')//移除样式
                            }
                        });
                    }
                });
            },
        };

        $('#search').on('click', function () {
            let startDate = $('input[name="start_date"]').val();
            let endDate = $('input[name="end_date"]').val();

            let oStartDate = new Date(startDate);
            let oEndDate = new Date(endDate);

            if (startDate == "") {
                layer.msg("请选择开始日期", {icon: 5, time: 1000});
                return false;
            }

            if (endDate == "") {
                layer.msg("请选择结束日期", {icon: 5, time: 1000});
                return false;
            }

            if (oStartDate > oEndDate) {
                layer.msg("开始日期不能大于结束日期", {icon: 5, time: 1000});
                return false;
            }

            var type = $(this).data('type');
            active[type] ? active[type].call(this, startDate, endDate) : '';
        });

        var execRowspan = function (fieldName, index, flag) {
            // 1为不冻结的情况，左侧列为冻结的情况
            let fixedNode = index == "1" ? $(".layui-table-body")[index - 1] : (index == "3" ? $(".layui-table-fixed-r") : $(".layui-table-fixed-l"));
            // 左侧导航栏不冻结的情况
            let child = $(fixedNode).find("td");
            let childFilterArr = [];
            // 获取data-field属性为fieldName的td
            for (let i = 0; i < child.length; i++) {
                if (child[i].getAttribute("data-field") == fieldName) {
                    childFilterArr.push(child[i]);
                }
            }
            // 获取td的个数和种类
            let childFilterTextObj = {};
            for (let i = 0; i < childFilterArr.length; i++) {
                let childText = flag ? childFilterArr[i].innerHTML : childFilterArr[i].textContent;
                if (childFilterTextObj[childText] == undefined) {
                    childFilterTextObj[childText] = 1;
                } else {
                    let num = childFilterTextObj[childText];
                    childFilterTextObj[childText] = num * 1 + 1;
                }
            }
            let canRowspan = true;
            let maxNum;//以前列单元格为基础获取的最大合并数
            let finalNextIndex;//获取其下第一个不合并单元格的index
            let finalNextKey;//获取其下第一个不合并单元格的值
            for (let i = 0; i < childFilterArr.length; i++) {
                (maxNum > 9000 || !maxNum) && (maxNum = $(childFilterArr[i]).prev().attr("rowspan") && fieldName != "8" ? $(childFilterArr[i]).prev().attr("rowspan") : 9999);
                let key = flag ? childFilterArr[i].innerHTML : childFilterArr[i].textContent;//获取下一个单元格的值
                let nextIndex = i + 1;
                let tdNum = childFilterTextObj[key];
                let curNum = maxNum < tdNum ? maxNum : tdNum;
                if (canRowspan) {
                    for (let j = 1; j <= curNum && (i + j < childFilterArr.length);) {//循环获取最终合并数及finalNext的index和key
                        finalNextKey = flag ? childFilterArr[i + j].innerHTML : childFilterArr[i + j].textContent;
                        finalNextIndex = i + j;
                        if ((key != finalNextKey && curNum > 1) || maxNum == j) {
                            canRowspan = true;
                            curNum = j;
                            break;
                        }
                        j++;
                        if ((i + j) == childFilterArr.length) {
                            finalNextKey = undefined;
                            finalNextIndex = i + j;
                            break;
                        }
                    }
                    childFilterArr[i].setAttribute("rowspan", curNum);
                    if ($(childFilterArr[i]).find("div.rowspan").length > 0) {//设置td内的div.rowspan高度适应合并后的高度
                        $(childFilterArr[i]).find("div.rowspan").parent("div.layui-table-cell").addClass("rowspanParent");
                        $(childFilterArr[i]).find("div.layui-table-cell")[0].style.height = curNum * 38 - 10 + "px";
                    }
                    canRowspan = false;
                } else {
                    childFilterArr[i].style.display = "none";
                }
                if (--childFilterTextObj[key] == 0 | --maxNum == 0 | --curNum == 0 | (finalNextKey != undefined && nextIndex == finalNextIndex)) {//||(finalNextKey!=undefined&&key!=finalNextKey)
                    canRowspan = true;
                }
            }
        };

        //合并数据表格行
        var layuiRowspan = function (fieldNameTmp, index, flag) {
            let fieldName = [];
            if (typeof fieldNameTmp == "string") {
                fieldName.push(fieldNameTmp);
            } else {
                fieldName = fieldName.concat(fieldNameTmp);
            }
            for (let i = 0; i < fieldName.length; i++) {
                execRowspan(fieldName[i], index, flag);
            }
        };

    });
</script>
<style>
    .layui-table th {
        font-weight: bold;
    }

    .table-header-fixed {
        position: fixed;
        top: 0;
        z-index: 99
    }
</style>
</body>
</html>